<head>
  <!-- Plotly.js -->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>

<div id="plot" style="width:90%;height:80%;"></div>

<script>
    PLOT = document.getElementById('plot');

    $.getJSON('/graph_data', function(raw){
            /* TODO: Cont here.. */
        Plotly.newPlot( PLOT, raw.data, {
            grid: {rows: 3, columns:1, pattern: 'independent'},
            margin: { t: 0 }
            });
        });

/* Current Plotly.js version */
console.log( Plotly.BUILD );

</script>
